

<div class="footer row g-5 p-5 m-auto">
  <div class="col-md-4 car">
      <div class="body text-center text-white">
          <h3>LOCATION</h3>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
      </div>
  </div>

    <div class="col-md-4 car">
      <div class="body text-center text-white">
          <h3>AROUND THE WEB</h3>
              <i class="icon fa-brands fa-facebook me-2"></i>
              <i  class="icon fa-brands fa-twitter me-2"></i>
              <i class="icon fa-brands fa-linkedin-in me-2"></i>
              <i class="icon fa-solid fa-globe me-2"></i>
      </div>
    </div>

    <div class="col-md-4 car" >
      <div class="body text-center text-white">
          <h3>ABOUT FREELANCER</h3>
          <p> Freelance is a free to use, licensed Bootstrap theme created by Route </p>
      </div>
    </div>
    
  </div>
  

  <div class="deep-footer text-white p-4 text-center">
    <p>Copyright © Your Website 2021</p>
    </div>